.home-content{
  color: #fff;
}
.mealItem{
  transition: all 0.6s ease-in-out;
  padding: 10px;
  transform: scale(0.9);
  color: #000;
  
}
.searchList a{
  text-decoration: none;
}
.mealItem:hover{
  transform: scale(1);
}
.searchList{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #5a5959;
}
.mealDetails{
  display: flex;
  justify-content: space-evenly;
  padding: 40px 20px;
  background: #808080;
  color: #fff;
  font-size: 0.922em;
}
.mealDetails .imgWrapper{
  width: 400px;
}
.ingredientWrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
}
.ingredientWrapper .ingredientBox{
  display: inline-block;
  width: max-content;
  background: rgb(50, 50, 50);
  margin: 5px;
  padding: 10px 15px;
  border-radius: 20px;
}
.home-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.home-content .btn{
  margin:40px 20px;
  min-width: 160px;
}
.instructionWrapper{
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  align-items: center;

}
.instructionWrapper p{
  text-align: justify;
}
